.short__form-input {
  width: 800px;
  margin: auto;
  padding: 35px 35px 10px 35px;
  display: flex;
  justify-content: space-between;
  background: var(--dark-violet);
  border-radius: 7px;
  background-image: url("../../assets/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 58px;
  padding: 2rem;
}
input[type="text"] {
  width: 585px;
  height: 40px;
  outline: none;
  border-radius: 6px;
  /* border: none; */
  padding: 0 20px 0 20px;
}

.addBorder {
  border: 2px red solid;
  color: red;
}

.addBorder::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: hsl(0, 43%, 65%);
}
.addBorder:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: hsl(0, 43%, 65%);
  opacity: 1;
}
.addBorder::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: hsl(0, 43%, 65%);
  opacity: 1;
}
.addBorder:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: hsl(0, 43%, 65%);
}

.removeBorder {
  border: none;
}

.please {
  color: #fff;
  padding-top: 0.2rem;
  padding-left: 0.3rem;
  letter-spacing: 0.1rem;
}

.red::placeholder {
  color: var(--red);
}
.short__form-input button {
  width: 130px;
  border-radius: 6px;
  height: 40px;
  border: none;
  background: var(--cyan);
  color: #fff;
}

.short__form-input button:hover {
  background: hsl(180, 87%, 65%);
}
.short__form-input-text p {
  color: var(--red);
  font-style: italic;
  font-size: 14px;
  padding-top: 2px;
  visibility: hidden;
}

/* testing */

.lists {
  width: 800px;
  margin: auto;
  margin-top: -40px;
}
.list {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.long-link {
  flex: 1;
  color: var(--very-dark-violet);
  width: 100px;
}
.short-link {
  color: var(--cyan);
}
.list button {
  padding: 8px 20px;
  border-radius: 6px;
  margin-left: 10px;
}
